# Vim gitignore files

# Undo files
**/*.un~
**/*~
# Swap files shouldn't even be here! but anyways
**/*.swp

# pdfs
**/*.pdf
# acabou que usando o .git/info/exclude resolveu o problema.
# Ainda vou dar um jeito de resolver com .gigitignore.
