body {
	background-image: url("../img/background.jpg");
	background-size: contain;
	background-attachment: fixed;
}
table {
	text-align: center;
}
li {
	margin: 8px;
}
a {
	margin: 8px;
}